html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font: 12px/1.5em -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto,
    noto, "segoe ui", arial, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
